.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
  padding: 0;
}
.bgWhite {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.bgBlue {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: #86b7fe;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.titleChart {
  margin-bottom: 15px;
  color: #0066ff;
  font-weight: bold;
}
.chart {
  display: flex;
  justify-content: center;
  margin: 25px;
}
.inputForm {
  display: flex;
  justify-content: space-around;
}
.btn-AddChart {
  background-color: #0066ff !important;
  color: white !important;
  font-weight: bold !important;
}
.btn-AddChart:hover {
  background-color: #ffffff !important;
  color: #0066ff !important;
  font-weight: bold !important;
  border: 2px solid #0066ffa8;
}
